/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.con{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.con-1{
    width: 50%;
    /* background-color: aqua; */
    position: relative;
    left: 10px;
}
.con-2{
    /* float: right; */
    padding-left: 950px;
    width: 50%;
    /* background-color: blueviolet; */
    padding-top: 12px;
}
.con-2 a{
    display: inline-block;
    padding: 7px;
    text-decoration: none;
}
.con-2 a:hover{
    color: white;
    background-color: black;
}
.image{
    position: relative;
    /* left: 20%; */
    /* right: 15%; */
    /* left: 15%; */
    display: inline;
    margin-left: 150px;
    margin-right: 150px;
    z-index: -1;
}
img{
    

}
.container{
    display: flex;
    min-height: 300px;

}
.col-1{
    width: 50%;
    /* background-color: aqua; */
    margin-left: 150px;
}
.small{
    margin-left: 150px;
}
.col-2{
    width: 50%;
    /* background-color: blueviolet; */
    margin-right: 150px;
}
.col-1 img{
    /* margin-left: 0; */
    display: inline-block;
    margin: 6px;
}
.col-2 img{
    /* margin-left: 0; */
    display: inline-block;
    margin: 6px;
}
.about{
    /* border: 1px solid black; */
    /* display: inline-block; */
    /* position: relative; */
    width: 1183px;
    margin-left: 150px;
    text-align: justify;
}
.main{
    display: flex;
    justify-content: center;
}
.col2-1{
    width: 50%;
    /* background-color:aqua; */
    margin-left: 150px;
}
.col2-2{
    width: 50%;
    /* background-color: grey; */
    margin-right: 150px;
}
.col2-1 img{
    margin-right: 10px;
}
.col2-2 img{
    margin-right: 10px;
}
.des{
    display: flex;
}
.img-1{
    /* border: 1px solid black; */
    width: 280px;
    min-height: 200px;
    margin-left: 150px;
}
.img-2{
    /* border: 1px solid black; */
    width: 280px;
    min-height: 200px;
    margin-left: 15px;
}
.box{
    width: 100%;
    background-color: lightgray;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}
.img-3{
    /* border: 1px solid black; */
    width: 280px;
    min-height: 200px;
    margin-left: 19px;
}
.img-4{
    /* border: 1px solid black; */
    width: 280px;
    min-height: 200px;
    margin-left: 14px;
}
.input{
    /* border: 1px solid black; */
    width: 1165px;
    min-height: 400px;
    margin-left: 150px;
    margin-right: 190px;
}
input{
    padding: 8px 12px;
    width: 97.77%;
    margin-bottom: 10px;
}
button{
    background-color: black;
    color: white;
    width: 130px;
    height: 40px;
    padding: 8px;
    margin-top: 10px;
}
.map{
    display: block;
    margin-left: 150px;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    /* height: 40px; */
    padding: 4px ;
}
/* .br{
    z-index: 1;
    position: absolute;
    border: 1px solid black;
    left: 10px;
    top: 10px;
}
span{
    background-color: black;
    color: white;
   
} */